.App {
  font-family: sans-serif;
  margin: 0 auto;
}

label {
  display: inline-block;
  width: 200px;
}

.input {
  width: 100%;
}

form {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  /* width: 600px; */
}

h1 {
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  margin: 0;
}

.danger {
  background-color: #d73d32;
  color: #fff;
}
